<div class="container">
    <div class="row">
        <table class = "col-md-8">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name </th>
                    <th>Surname </th>
                    <th>Experience </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pilot of pilots"> 
                    <td>{{ pilot.id }}</td>
                    <td>{{ pilot.name }}</td>
                    <td>{{ pilot.surname }}</td>
                    <td>{{ pilot.experience }}</td>
                    <td>
                        <button class="btn btn-link btn-sm"(click)="editRecord(pilot)">Detail(edit)</button> 
                        <button class = "btn btn-danger btn-xs" (click)="deleteRecord(pilot.id)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <form class="col-md-4">
            <h3>Add Pilot</h3>
            <div class="form-group">
                <label for="pilot-name">pilot name:</label>
                <input name="pilot-name"  id="pilot-name" [(ngModel)]="newPilot.name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="pilot-surname">pilot surname:</label>
                <input name="pilot-surname" id="pilot-surname" [(ngModel)]="newPilot.surname" class="form-control" />
            </div>
            <div class="form-group">
                <label for="pilot-experience">pilot experience:</label>
                <input name="pilot-experience" type = "number" id="pilot-experience" [(ngModel)]="newPilot.experience" class="form-control" />
            </div>
            <div *ngIf='formMistake != "" && formMistake != "no"' class='alert alert-danger'>{{ formMistake }}</div>
            <div *ngIf='formMistake == "no"' class='alert alert-success'>Saved </div>
            <button type="button" class="btn btn-primary" (click)="addRecord(newPilot);">Save</button>
        </form>
    </div>
</div>