<div class="container">
    <div class="row">
        <table class = "col-md-8">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Price</th>
                    <th>FlightNumber</th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                <tr> 
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.price }}</td>
                    <td>{{ ticket.flightNumber  }}</td>
                </tr>
            </tbody>
        </table>
        <form class="col-md-4">
            <h3>Edit ticket</h3>
                <div class="form-group">
                    <label for="flight-price">Price:</label>
                    <input name="flight-price" type = "number"  id="flight-price" [(ngModel)]="ticket.price" class="form-control">
                </div>
                <div class="form-group">
                    <label for="flight-number">Flight number:</label>
                    <input name="flight-number" type="number" id="flight-number" [(ngModel)]="ticket.flightNumber" class="form-control" />
                </div>
              <div *ngIf='formMistake != "" && formMistake != "no"' class='alert alert-danger'>{{ formMistake }}</div>
              <div *ngIf='formMistake == "no"' class='alert alert-success'>Saved </div>
              <button type="button" class="btn btn-primary" (click)="saveEditing(ticket);">Save</button>
          </form>
    </div>
</div>