<div class="container">
  <div class="row">
      <table class = "col-md-8">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Time of departure</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let departure of departures"> 
                  <td>{{ departure.id }}</td>
                  <td>{{ departure.timeOfDeparture | date: 'short' }}</td>
                  <td>
                      <button class="btn btn-link btn-sm"(click)="editRecord(departure)">Detail(edit)</button> 
                      <button class = "btn btn-danger btn-xs" (click)="deleteRecord(departure.id)">Remove</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <form class="col-md-4">
        <h3>Add Departure</h3>
        <div class="form-group">
            <div class="form-group">
                <label for="departure-from">departure from:</label>
                <input name="departureFrom"  id="departure-from" [(ngModel)]="newDeparture.flight.departureFrom" class="form-control">
            </div>
            <div class="form-group">
                <label for="time-of-departure">time of departure</label>
                <input name="departureTime" type="date" id="time-of-departure" [(ngModel)]="newDeparture.flight.timeOfDeparture" class="form-control" />
            </div>
            <div class="form-group">
                <label for="destination">destination</label>
                <input name="destination"  id="destination" [(ngModel)]="newDeparture.flight.destination"  class="form-control" />
            </div>
            <div class="form-group">
                <label for="arrival-time">arrival time</label>
                <input name="arrivalTime"   type="date" id="arrival-time" [(ngModel)]="newDeparture.flight.arrivalTime" class="form-control" />
            </div>
            <label for="pilot-from">pilot name:</label>
            <input name="pilotname"  id="pilot-name" [(ngModel)]="newDeparture.crew.pilot.name" class="form-control" />
          </div>
          <div class="form-group">
              <label for="pilot-surname">pilot surname:</label>
              <input name="pilotSurname" id="pilot-surname" [(ngModel)]="newDepartre?.crew.pilot.surname" class="form-control" />
          </div>
          <div class="form-group">
              <label for="pilot-experi">pilot experience:</label>
              <input name="pilotExperience" type = "number" id="pilot-experience" [(ngModel)]="newDeparture?.crew.pilot.experience" class="form-control" />
          </div>
          <div class="form-group">
              <label for="stewardess-name">stewardess name:</label>
              <input name="stewardessName"  id="stewardess-name" [(ngModel)]="newDepartre?.crew.stewardesses[0].name"  class="form-control" />
          </div>
          <div class="form-group">
              <label for="stewardess-surame">stewardess surname:</label>
              <input name="stewardess-surname" id="arrival-time" [(ngModel)]="newDepartre?.crew.stewardesses[0].surname" class="form-control" />
          </div>
          <button type="button" class="btn btn-primary" (click)="addRecord(newDeparture);">Save</button>
      </form>
  </div>
</div>
